{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["ie >= 9", "last 2 versions"]
                }
            }
        ],
        [
            "minify"
        ]
    ],
    "comments": false
}